.home{
  background-image: url(/imgs/h_img.jpg);
  text-align: center;
  color: whitesmoke;
  
}
.services{
  background-image: url(/imgs/s_image.jpg);
  text-align: center;
  color: whitesmoke;
  padding: 50px;
}
.logo{
  size: 15px;
  padding-top: 300px;
  /* padding-bottom: 275px; */
}
.contact{
  background-image: url(/imgs/c_image.jpg);
  padding: 50px;
  color: antiquewhite;
  text-align: center;
}
#mcembedsignup{
  background:auto;
  clear:left;
  font:14px;
  font-family: Helvetica,Arial,sans-serif;
}
body{
  overflow-x: hidden;
}
.container{
  align-items: center;

}