.home{
  background-image: url(/imgs/h_img.jpg);
  text-align: center;
  color: whitesmoke;
}
.services{
  background-image: url(/imgs/s_image.jpg);
  text-align: center;
  color: whitesmoke;
  padding: 50px;

}
.logo{
  size: 15px;
  padding-top: 300px;
  padding-bottom: 20px;
}
.mouse{
  padding-top: 100px;
  padding-bottom: 20px;
}
.contact{
  background-image: url(/imgs/c_image.jpg);
  padding: 50px;
  color: antiquewhite;
  text-align: center;
}
#mcembedsignup{
  background:auto;
  clear:left;
  font:14px;
  font-family: Helvetica,Arial,sans-serif;
}
body{
  overflow-x: hidden;
}
.container{
  align-items: center;

}
.container>h1{
  text-align: center;
}
.services h1{
  font-family: 'Berkshire Swash', ;
}
#about p{
  font-family: 'Berkshire Swash', ;
  text-align: center;
}
.container p{
  text-align: center;
}
.image{
  opacity: 1;
  display: block;
  transition: 3s ease;
  backface-visibility: hidden;
  width: 100%;
  height: auto;
}
.middle{
  transition: 3s ease;
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%, -50%);
}
.container:hover .image{
  opacity: 0.3;
}
.container:hover .middle{
  opacity: 1;
}
.text{
  background-color: purple;
  color: white;
  font-size: 15px;
  padding: 10px 30px;
  text-align: center;
}
